{% extends 'home/index.html.twig' %}

{% block content %}

        <div class="cart text-white bg-primary mb-3" style="max-width: 18rem; margin: 10px">
            <div class="card-header"> title : {{ name }}</div>
            <div class="card-body">
                <h5 class="card-title">student : {{ student }}</h5>
                <p class="card-text">entreprise : {{ entreprise }}</p>
            </div>
        </div>

{% endblock %}

{% block title %}
info {{name}}
{% endblock %}

